In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
import re
pd.options.mode.chained_assignment = None

In [9]:
class TF_IDF:
    df = None
    coulmn_name = "tf_idf"
    ngram_range = (2,7)
    data_type = np.float32
    def __init__(self, df):
        self.df = df
        
    def perform_tf_idf(self, coulmn_name):
        vectorizer = TfidfVectorizer(analyzer="char",
            ngram_range=self.ngram_range,
            dtype=self.data_type
        )
        return vectorizer.fit_transform(self.df[coulmn_name])

    def add_coulmn_to_df(self, tf_idf_vector):
        self.df[self.coulmn_name] = None
        for index, row in self.df.iterrows():
            self.df[self.coulmn_name][index] = tf_idf_vector[index]
    
    def save_data(self, path):
        self.df.to_csv(path, index=False)

In [10]:
pos_reviews = pd.read_csv("./../data/fresh_sample_embedding.csv")
neg_reviews = pd.read_csv("./../data/rotten_sample_embedding.csv")

In [11]:
pos_tf_idf = TF_IDF(pos_reviews)
pos_tf_idf.add_coulmn_to_df(pos_tf_idf.perform_tf_idf('review_content').toarray())
pos_tf_idf.save_data("./../data/fresh_sample_embedding_with_tf_idf.csv")

In [12]:
neg_tf_idf = TF_IDF(neg_reviews)
neg_tf_idf.add_coulmn_to_df(neg_tf_idf.perform_tf_idf('review_content').toarray())
neg_tf_idf.save_data("./../data/rotten_sample_embedding_with_tf_idf.csv")

In [13]:
pos_tf_idf.df.head()

,Unnamed: 0,rotten_tomatoes_link,review_type,review_content,review_content_bert_embedding,tf_idf
0,0,m/official_secrets,Fresh,"Like the whistleblower at its center, ""Officia...",[-0.89845914 -0.51225573 -0.85514754 0.692905...,"[0.03417499, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
1,1,m/blue_is_the_warmest_color,Fresh,The film is like a tough exam that everybody a...,[-8.55783403e-01 -4.74810183e-01 -9.47439671e-...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,2,m/hardball,Fresh,Hardball is striking in its portrayals of just...,[-0.74963385 -0.61064798 -0.96854866 0.668219...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,3,m/pay_2_play_democracys_high_stakes,Fresh,Persuasive and frightening. It's much more ill...,[-0.88150346 -0.34318769 -0.88624769 0.780279...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,4,m/aviator,Fresh,Charts three decades in the life of Howard Hug...,[-8.70814800e-01 -5.33839822e-01 -9.48109627e-...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [14]:
neg_tf_idf.df.head()

,Unnamed: 0,rotten_tomatoes_link,review_type,review_content,review_content_bert_embedding,tf_idf
0,0,m/our_idiot_brother,Rotten,The actors have a lot of fun creating their ch...,[-4.39755172e-01 -4.93658334e-01 -9.87347782e-...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,1,m/mary_shelley,Rotten,Al-Mansour seems a perfect fit for the materia...,[-4.61990625e-01 -3.06478918e-01 -8.95607591e-...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,2,m/the_to_do_list,Rotten,An absurdly profane comedy that spends its ent...,[-8.30166519e-01 -3.32247466e-01 -5.96888900e-...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,3,m/the_kid_who_would_be_king,Rotten,"The Kid Who Would Be King is perfectly fine, b...",[-0.77340084 -0.2158352 -0.83754045 0.482762...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,4,m/detour_2017,Rotten,This low-budget noir thriller is more style th...,[-0.86656195 -0.54156929 -0.92415327 0.761691...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."